.toolbar {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #151719;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;

  .user {
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      margin-right: 15px;
    }

    svg {
      cursor: pointer;
    }
  }

  nav {
    height: 100%;

  }  
}