body {
    
    background-color: #f9f9fa
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.fotoUser{
    padding-top: 20px;
display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}
.padding {
    padding: 3rem !important
}
.profileCard{
box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  max-width: 300px;
  width: 135px;
  height: 135px;
  text-align: center;
  margin-top: 40px;
  margin-right: auto;
  margin-left: 10%;
  border-radius: 50%;
  background-color: white;
  padding: 20px;
  float: left;
}
.botao{
    margin-right: 10px;
}
.wdt-200{
  width: 200px;
}
.botao.secondary {
  background-color: rebeccapurple;
}
.titulo{
    margin-top: 40px;
    margin-right: 70%;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 15px;
}
.card {
    margin-top: 150px;
    margin-bottom: 100px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 #3498db;
    transition: 0.3s;
    padding-bottom: 25px;
    width: 70%;
    margin-left: 15%;
    text-align: right;
    
  }
  input {
    width: 60%;
  }

  .form{
      padding-top: 5%;
      margin-right: 10%;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0  rgba(255, 255, 255, 0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .title{
      color: black;
  }

  .content{
      text-align: center;
      margin-top: 10px;
  }
  .table{
    margin-right: auto;
    margin-left:auto;
    width: 90%;
    
  }
  .botao_table{
    margin-right: auto;
    margin-left: auto;
}