.cor{
  width: 50%;
  border: white!important;
  margin-left: 50%;

  .text{
    color: white;
  }

  .input-root {
    color: white;
    
    fieldset,
    &:hover > fieldset,
    &:focus > fieldset {
      border-color: white;
    }
  }
}